:root {
  --main : #00b98e;
  --main-dark : #02ab83;
  --orange-hub : #ff8400;
  --violet-hub : rgba(128, 0, 255, 0.768);
  --dark : #0e2e50;
  --blac-opacity : rgba(0, 0, 0, 0.782);
}


/*-- BODY_CUSTOM--*/

.body-custom{
  background-image: url('/storage/app/public/images/modern-black-friday-super-sale-background-with-shop-icons_1361-1799.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}



/*--- NAVBAR-CUSTOM ---*/

.navbar-dark{
  font-family:'Times New Roman', Times, serif;
}

/*-- HEADER CUSTOM--*/

header {
  position: relative;
  height: 400px;
  background-image: url('/storage/app/public/images/header.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 50px;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items:start;
  padding: 20px 60px;
  color: #fff;
}

.header-overlay h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--orange-hub);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-overlay p {
  font-size: 16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


/*-- Filtri --*/

.sez-cerca-custom {
  background-color: var(--orange-hub);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.btn-custom-cerca {
  background-color: var(--dark);
  padding: 8px 15px;
  border-radius: 15px;
  color: var(--white);
}

/*CARD CATEGORIES*/

.card_categories{

  border-radius: 50%;
  background-color: var(--orange-hub);
  padding: 50px;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 500ms ease;
}

.card_categories:hover{

  transform: scale(1.05);
  transition: all 500 ease;
}


/*CARD CUSTOM*/

.card {
  background-color: var(--blac-opacity);
  width: 200px;
  height: 200px;
  perspective: 1000px; /* Definisce la prospettiva per l'effetto 3D */
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s; /* Aggiunge una transizione fluida all'effetto flip */
  transform-style: preserve-3d; /* Abilita l'effetto 3D */
}

.card:hover .card-inner {
  transform: rotateY(180deg); /* Ruota la carta di 180 gradi al passaggio del mouse */
}

.card-front,
.card-back {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Nasconde il lato posteriore della carta */
  
}

.card-front {
  background-color: var(--orange-hub);
  overflow: hidden;
  height: 75%;
}

.card-back {
  background-color: var(--orange-hub);
  transform: rotateY(180deg); /* Ruota il lato posteriore di 180 gradi */
  height: 75%;
  
}

.card-back a{
  text-decoration: none;
}

/*--main custom--*/

.main_custom{
  background-color: rgba(0, 0, 0, 0.782);
  box-shadow: 1px -1px 10px var(--orange-hub);
  border-radius: 15px;
  margin: 30px;
  padding: 20px;
}

/*-- btn-user--*/

.btn-user{
  text-decoration: none;
  color: var(--orange-hub);

}

.btn-request{
  font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    border: solid 1px;
    color: #333;
    transition: all 0.3s ease-in-out;
    color: #ff9606;
    border-color: #ff9606;

}

.btn-request:hover{
  color: #fff !important;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
  background-color: #ff9606;
}

.my-ul{
  display: flex;
  gap: 1rem;

}
.my-li{
  display: block;
  transition: .3s;

}
.my-ul:hover .my-li{
  filter: blur(5px);
  
}
.my-ul .my-li:hover {
  filter: blur(0px);
}